:root {
    --element-scale:1;
    --background-hover:#0000001f;
}

header,
footer,
aside,
main{
    /* background-color: #222; */
    background-color: #19373c;
    box-sizing: border-box;
    padding:30px;
    font-family: 'Arial Narrow Bold';
    font-size:20px;
    font-weight: 200;
    color:white;
    border:solid crimson 1px;
    line-height: 1.5;
}
.main-grid{
    display:grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
}
a{
    text-decoration: none;
    color:chartreuse;
}
.nav-item {
    text-align: center;
    padding: 16px 0;
    border: double 4px gray;
    width: 245px;
    font-size: 24px;
}
nav{
    display:flex;
    
    max-width: 1000px;
    margin: 0 auto;
    justify-content:center;
}

@font-face {
  font-family: remachine;
  src: url(../remachine.ttf);
}

aside {
  text-align: center;
}

aside div {
  margin-bottom: 7%;
}

aside textarea, input[type=text] {
  width: 100%;
}

.chock {
  transform: scale(1.5);
  margin: 0 16px;
}

.aside-feature {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-board{
    display: flex;
    flex-wrap: wrap;
}
.elem {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  font-family: Roboto;
  text-shadow: 2px 2px 2px black;
  position: relative;
  opacity: 80%;
  user-select: none;
  width: calc(60px * var(--element-scale));
  height: calc(60px * var(--element-scale));
  padding: calc(5px * var(--element-scale));
  border-radius: calc(15px * var(--element-scale));
  font-size: calc(40px * var(--element-scale));
  margin: calc(12px * var(--element-scale)) calc(7.5px * var(--element-scale));
  box-shadow: 0 calc(3px * var(--element-scale)) calc(10px * var(--element-scale)) rgba(0, 0, 0, 0.18);
}
.elem:not(:disabled):not(textarea):hover {
  opacity: 100%;
}

.elem.held {
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.elem.restock {
    animation: element-restock 0.65s cubic-bezier(.29,.25,.09,1) 0.25s both;
  }
  .elem.error {
    background-image: url(/no-element.svg);
    background-size: cover;
  }.drop .elem.held {
    animation: element-drop 0.6s cubic-bezier(.2,.01,1,.44) both, fade-out linear 0.5s both;
  }
  .elem.held {
    animation: element-grab-x 0.2s cubic-bezier(.13,.03,.22,1) both;
  }
  .combine .elem {
    animation: element-combine-x 0.28s cubic-bezier(.5,.5,.5,1) both;
  }
  .elem-held-wrapper, .elem-found-wrapper, .elem-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
  }

  .deleted {
    animation: element-drop 0.6s cubic-bezier(.2,.01,1,.44) both, fade-out linear 0.5s both;
  }

  .combine {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
  }
  .elem-error-wrapper {
    animation: error-wrapper 0.85s both;
  }
  .elem-error-wrapper .elem {
    animation: error-shake 0.6s both;
  }
  .elem-held-wrapper {
    animation: element-grab-x 0.28s both;
  }
  .elem-found-wrapper {
    animation: element-found-move-y var(--calculated-animation-time) 0.25s both;
  }
  .elem-found-wrapper .elem {
    animation: element-found-reveal 0.25s cubic-bezier(.45,1.07,1,.86), element-found-move-x var(--calculated-animation-time) 0.25s, element-found-shadow 1.5s both ease;
  }
  .elem-found-wrapper.is-that-hardcoded-shit {
    animation: element-found-move-y-hardcoded var(--calculated-animation-time) 0.25s both;
  }
  .elem-found-wrapper.is-that-hardcoded-shit .elem {
    animation: element-found-reveal-hardcoded 0.25s cubic-bezier(.45,1.07,1,.86), element-found-move-x-hardcoded var(--calculated-animation-time) 0.25s, element-found-shadow 1.5s both ease;
  }
  .combine {
    animation: element-combine-y 0.28s both;
  }
  .elem.held::after { /* the hover color */
    animation: element-grab-hover 0.1s linear both;
  }

.elem-name {
    padding: 3px 6px;
    border-radius:16px;
    transition: 0.3s;
    background-color:black;
    color:white;
    font-size:13px;
    position: absolute;
    pointer-events: none;
    align-self: center;
    z-index: 3;
    line-height: 1.1;
    bottom: -0.5rem;
}

.elem-delete {
  padding: 0px 2px;
  border-radius:16px;
  transition: 0.3s;
  background-color:rgb(204, 1, 1);
  color:white;
  font-size:13px;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  z-index: 3;
}

.elem-updated {
  color:white;
  font-size:13px;
  position: absolute;
  top: 1.2rem;
  right: 0.3rem;
  z-index: 3;
}

.feature-label{
    padding: 6px 8px;
    border-radius:16px;
    background:black;
    color:white;
    font-size:16px;
}

.input-number {
  width: 3.5rem;
  font-size: 20px;
  background: #102327;
  color: white;
  text-align: center;
  border: none;
  border-radius: 6px;
  padding: 6px;
}

aside button {
  font-size: 15px;
  margin: 0 10px;
  background: #24474e;
  color: white;
  text-align: center;
  /* border: 1px solid rgb(137, 192, 192); */
  border-radius: 6px;
  padding: 6px;
}

.p0 {
    background-color: rgb(84, 117, 227);
}
.p1 {
    background-color: rgb(16, 118, 75);
}
.p2 {
    background-color: rgb(227, 132, 84);
}
.p3 {
    background-color: rgb(133, 75, 39);
}
.p4 {
    background-color: rgb(227, 220, 84);
}
.p5 {
    background-color: rgb(251, 226, 105);
}
.p6 {
    background-color: rgb(227, 108, 84);
}
.p7 {
    background-color: rgb(33, 199, 47);
}
.p8 {
    background-color: rgb(197, 255, 83);
}
.p9 {
    background-color: rgb(84, 179, 227);
}
.p10 {
    background-color: rgb(83, 123, 255);
}
.p11 {
    background-color: rgb(6, 50, 196);
}
.p12 {
    background-color: rgb(255, 44, 90);
}
.p13 {
    background-color: rgb(88 0 165);
}
.p14 {
    background-color: rgb(35, 72, 57);
}
.p15 {
    background-color: rgb(172 172 172);
}
.p16 {
    background-color: rgb(105 105 105);
}
.p17 {
    background-color: rgb(231, 231, 231);
}
.p18 {
    background-color: rgb(29, 36, 15);
}
.p19 {
    background-color: rgb(255, 247, 22);
}

.bitton{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgb(0 0 0 / 25%) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.bitton:hover {
    box-shadow: rgb(80 63 205 / 50%) 0 1px 30px;
    transition-duration: .1s;
}

@keyframes top-bar-slide-in {
    from{transform:translateY(-30px)}
    to{transform:translateY(0)}
  }
  @keyframes element-restock {
    0% {
      opacity: 0.7;
      transform: translateY(6px) scale(0.85);
    }
    100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }
  @keyframes news-entry-appear {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes news-entry-slide-down {
    0% {
      margin-top: -84.4px
    }
    100% {
      margin-top: 0px
    }
  }
  @keyframes element-appear {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes element-grab-hover {
    0% {
      background-color: var(--background-hover-color);
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes element-grab-x {
    0% {
      transform: translate(var(--offset-x),var(--offset-y))
    }
    100% {
      transform: translate(0,0)
    }
  }

  @keyframes element-combine-x {
    0% {

    }
    100% {

    }
  }
  @keyframes element-combine-y {
    0% {
        transform: translateY(0)scale(1)translateX(0);
      animation-timing-function: cubic-bezier(.21,.52,.55,.95);

    }
    40% {
      animation-timing-function: cubic-bezier(.48,.07,.6,.96);
      transform: translateY(min(var(--offset-y) - 5px, -5px))scale(0.95);
    }
    100% {
      transform: translateY(var(--offset-y))translateX(var(--offset-x))scale(1);
    }
  }
  @keyframes element-found-reveal {
    0% {
      transform: translateX(var(--offset-x))scale(1);
    }
    100% {
      transform: translateX(var(--offset-x))scale(1.2);
    }
  }
  @keyframes element-found-move-x {
    0% {
      animation-timing-function: cubic-bezier(.67,.88,.76,.99);
      transform: translateX(var(--offset-x))scale(1.2);
    }
    100% {
      transform: translateX(0)scale(1);
    }
  }
  @keyframes element-found-move-y {
    0% {
      animation-timing-function: cubic-bezier(.21,.52,.55,.95);
      transform: translateY(var(--offset-y));
    }
    45% {
      animation-timing-function: cubic-bezier(.65,.16,.62,1);
      transform: translateY(calc(min(var(--offset-y) - 18px, -20px) * (1 - var(--offset-x-zero)) + var(--offset-y) * var(--offset-x-zero)));
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes element-found-reveal-hardcoded {
    0% {
      transform: translateX(var(--offset-x))scale(2);
    }
    100% {
      transform: translateX(var(--offset-x))scale(calc(2 * 1.1));
    }
  }
  @keyframes element-found-move-x-hardcoded {
    0% {
      animation-timing-function: cubic-bezier(.67,.88,.76,.99);
      transform: translateX(var(--offset-x))scale(calc(2 * 1.1));
    }
    100% {
      transform: translateX(0)scale(1);
    }
  }
  @keyframes element-found-move-y-hardcoded {
    0% {
      animation-timing-function: cubic-bezier(.21,.52,.55,.95);
      transform: translateY(var(--offset-y));
    }
    45% {
      animation-timing-function: cubic-bezier(.65,.16,.62,1);
      transform: translateY(calc(min(var(--offset-y) - 18px, -20px) * (1 - var(--offset-x-zero)) + var(--offset-y) * var(--offset-x-zero)));
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes element-found-shadow {
    0% {
      box-shadow: 0 0 3px rgba(0,0,0,0);
    }
    30% {
      box-shadow: 0 1px 6px rgba(0,0,0,0.25);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes element-drop {
    0% {
      transform: translate(0, 0)scale(1);
    }
    100% {
      transform: translate(0, 55px)scale(0.4);
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes dialog-open {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes dialog-wrapper-open {
    0% {
      background-color: transparent;
      display: none;
    }
    0.1% {
      display: flex;
    }
    100% {
      background-color: var(--popup-background);
      display: flex;
    }
  }
  @keyframes info-animate {
    0% {
      width: 90px;
      height: 90px;
    }
    100% {
      width: 600px;
      height: 400px;
    }
  }
  @keyframes info-bg-container {
    0% {
      transform: translate(10px, 10px);
      width: 78px;
      height: 78px;
    }
    100% {
      transform: translate(0px, 0px);
      width: 600px;
      height: 400px;
    }
  }
  @keyframes error-wrapper {
    0% {
      transform: scale(1);
      animation-timing-function: cubic-bezier(.33,.44,.35,.96);
    }
    20% {
      transform: scale(1.3);
      animation-timing-function: cubic-bezier(.75,.17,.91,.88);
    }
    80% {
      transform: scale(1.22);
      animation-timing-function: cubic-bezier(.53,.86,.9,.93);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes error-shake {
    0% {
      transform: translateX(5px);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes tutorial-arrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  